# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [2]:
# CODE HERE
print("My Name Is Kushmitha")

My Name Is Kushmitha

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
# Variable is an entity to store a value
#  Variables are used , so that memory consumption is reduced

In [5]:
# Code Here
A = 100
# Here value 100 is assigned to a variable A using assignment operator " = ", this is called VARIABLE DECLARATION

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [30]:
# CODE HERE
width = 17
height = 12.0
delimiter = '.'
print("1. width/2 = ",width/2)
print("2. width/2.0 = ",width/2.0)
print("3. height/3 = ",height/3)
print("4. ",1 + 2 * 5)
print("5. ",delimiter*5)

1. width/2 =  8.5
2. width/2.0 =  8.5
3. height/3 =  4.0
4.  11
5.  .....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [19]:
#CODE HERE

In [17]:
A = 100
B = 200
print("first number is :",A)
print("second number is :",B)
print("Addition of two numbers are :", A + B)

first number is : 100
second number is : 200
Addition of two numbers are : 300

In [20]:
A = 100
B = 200
A + B

300

> `Question:` Add your first name and second name

In [9]:
# CODE HERE

In [3]:
S = "Sachin"
P = "Tendulkar"
print("My first name is : ", S)
print("My second name is : ", P)
print("My full name is : ", S + " "+ P)

My first name is :  Sachin
My second name is :  Tendulkar
My full name is :  Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [56]:
# CODE HERE

In [63]:
A = 10
B = '10'
C = True
D = 10.5
print(f"{A} -  {type(A)}")
print(f"{B} -  {type(B)}")
print(f"{C} -  {type(C)}")
print(f"{D} -  {type(D)}")

10 -  <class 'int'>
10 -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

In [1]:
A = 10
B = '10'
C = True
D = 10.5
print("10 - ",type(A))
print("'10' - ",type(B))
print("True - ",type(C))
print("10.5 - ",type(D))

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

In [5]:
A = 10
B = '10'
C = True
D = 10.5
print(A ," - ",type(A))
print(B," - ",type(B))
print(C," - ",type(C))
print(D," - ",type(D))

10  -  <class 'int'>
10  -  <class 'str'>
True  -  <class 'bool'>
10.5  -  <class 'float'>

In [84]:
A = 10
B = '10'
C = True
D = 10.5
print(type(A))
print(type(B))
print(type(C))
print(type(D))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [61]:
# shortcuts of knowing the data type
type(A)

int

In [58]:
type(B)

str

In [59]:
type(C)

bool

In [60]:
type(D)

float

In [11]:
# given sample output

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [14]:
# CODE HERE

In [68]:
num_int = 123
num_str = "456"

In [69]:
num_str = int(num_str)

In [70]:
num_int + num_str

579

In [71]:
print(" Addition of 123 and 456 is :",num_int + num_str)

 Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [5]:
# CODE HERE

In [83]:
r = 5
pi = 3.14159
volume_of_a_sphere = 4/3* pi*r*r*r
print(volume_of_a_sphere)

523.5983333333332

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [2]:
price_of_book = 24.95
# 40% of 24.95 is 
discount = (40/100)*price_of_book
discount

9.98

In [16]:
price_of_each_book_after_discount = price_of_book - discount
price_of_each_book_after_discount

14.969999999999999

In [15]:
order = 60
shipping = 3 + 0.75 * (order - 1)
shipping

47.25

In [18]:
total_cost = (price_of_each_book_after_discount * 60) + shipping
total_cost

945.4499999999999

In [19]:
# whole code
price_of_book = 24.95
discount = (40/100)*price_of_book
price_of_each_book_after_discount = price_of_book - discount
order = 60
shipping = 3 + 0.75 * (order - 1)
total_cost = (price_of_each_book_after_discount * 60) + shipping
total_cost

945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)