# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums = [1, 2, 3, 4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [3]:
# Method 1 
nums.remove(3)

In [4]:
print(nums)

[1, 2, 4]

In [5]:
nums = [1, 2, 3, 4]

In [6]:
# Method 2
del nums[2]
print(nums)

[1, 2, 4]

In [7]:
nums = [1, 2, 3, 4]

In [8]:
# Method 3
nums.pop(2)
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [7]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [8]:
lst.insert(2,'two-and-half')
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

*convert into list*

In [65]:
phrase = "Don't panic!"

In [66]:
list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [67]:
A = list(phrase)
A.remove("'")
A.remove("!")

In [68]:
print(A)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [43]:
# sample output

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [44]:
# CODE HERE

In [69]:
A.remove("p")
A.remove("a")
A.remove("D")

In [70]:
A

['o', 'n', 't', ' ', 'n', 'i', 'c']

In [71]:
del A[4]

In [72]:
A

['o', 'n', 't', ' ', 'i', 'c']

In [73]:
L = ("p","a","n","D")

In [74]:
A.extend(L)

In [75]:
A

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [1]:
B =  ['p', 'a', 'n', 'D', 'a']

In [2]:
for i in B:
    print((i),end="")

panDa

In [39]:
"".join(B)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [93]:
nums = (31,24,35,85)
print("data type", type(nums))
print(nums)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [94]:
list(nums)

[31, 24, 35, 85]

In [95]:
L = list(nums)
L.remove(35)
L

[31, 24, 85]

In [96]:
tuple(L)

(31, 24, 85)

**Extent** tuple (85,19)

In [97]:
S = (85,19)
list(S)
L.extend(S)
L

[31, 24, 85, 85, 19]

In [98]:
tuple(L)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [5]:
tpl = ('i','n''n','0')

In [6]:
"i" in tpl

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [104]:
list = ['Hello',100,[],'innomatics']

In [105]:
list[2]=[200]

In [106]:
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [107]:
# CODE HERE
tpl = ("Innomatics")

In [114]:
L1 = tuple(tpl)

In [118]:
L1[ : :-1]

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [5]:
# sample output

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [11]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [16]:
l =[]
for i in tpl: 
    l.append(i+(100,))
print(l)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [20]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [37]:
l = []
for i in tpl:
    l.append(i[:-1]+(100,))
print(l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [11]:
str = '5 2 3 6 6 5'
print(str)
A = sorted(set(str),reverse=True)
print("second highest is :",A[1])

5 2 3 6 6 5
second highest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [50]:
l = [12,24,35,70,88,120,155]
l = [x for (i,x) in enumerate(l) if i not in (0,4,5)]
print(l)

[24, 35, 70, 155]

In [54]:
l = [12,24,35,70,88,120,155]
del l[0]
del l[3]
del l[3]
l

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [61]:
tp = (1,2,3,4,5,6,7,8,9,10)
tp1 = tp[:5]
tp2 = tp[5:]
print(tp1,tp2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [1]:
tp = (1,2,3,4,5,6,7,8,9,10)

In [2]:
tp[1: :2]

(2, 4, 6, 8, 10)

In [3]:
L = []
for i in tp:
    if(i%2==0):
        L.append(i)
print(tuple(L))

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
List is a mutable data structure(we can modify the data).
List is a square brackets with comma separation between values.
list() is used to convert any data structure into list datastructure.
Tuple is immutable data structure(we cannot modify the given tuple),we can modify by converting into list.
Tuple is a round brackets with comma separation between values.
tuple() is used to convert any data structure into list datastructure.

### 2. Explain the difference between append() and extend() with examples

# Solution
append() is used to add a value into already existing list,in this only one value is added at a time.
extend() is used to add a list to other list,this is normally used to add multiple value in to a list,where new list is created with new values and this list is added to existing list

In [13]:
L = [1,2,3,4]

In [14]:
# example for append

L.append(5)
L

[1, 2, 3, 4, 5]

In [10]:
L.append(0,5)

TypeError: list.append() takes exactly one argument (2 given)

In [11]:
# example for extend

L1 = [6,7,8,9]
L.extend(L1)

In [12]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
L1.extend(L)
L1

[6, 7, 8, 9, 1, 2, 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

# Solution

pop() is used to remove or delete exactly only one value from a list, if no index value is given it deletes the last element of the list else if index value is given it deletes the indexed value,And it takes only one value at a time.When it is performed it gives the deleted element as output

remove() takes exactly one argument and deletes the element from the list,it doesnot deletes based on the index values,only the element is needed to be given,and it deletes only the first occurence of the element if it is present many times in the list

In [32]:
L = [1,2,3,4]

In [33]:
L.pop()

4

In [34]:
L

[1, 2, 3]

In [35]:
L.pop(0)

1

In [36]:
L

[2, 3]

In [37]:
L.pop(0,1)

TypeError: pop expected at most 1 argument, got 2

In [38]:
L = [1,2,3,4]

In [40]:
L.remove(1)

In [42]:
L

[2, 3, 4]

In [43]:
L.remove(2,3)

TypeError: list.remove() takes exactly one argument (2 given)

In [44]:
L = [1,2,3,4,2,1,1]

In [45]:
L.remove(1)
L

[2, 3, 4, 2, 1, 1]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)