# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
person1 = {'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}

In [3]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [8]:
list(person1.keys())

['Gender', 'Location', 'Name', 'Occupation']

> **`Question:` Remove Location in person1**

In [1]:
# CODE HERE

In [10]:
person1.pop("Location")

'Nizampet, Hyderabad'

In [11]:
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [4]:
person2 = {"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}

In [5]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [7]:
print("==================person1=================")
print(person1)
print("==================person2=================")
print(person2)

==================person1=================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================person2=================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [6]:
# CODE HERE
# sample output

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [6]:
# CODE HERE
K = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [7]:
#Method - 1
del K[1]
K

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [8]:
#Method - 2
K.pop(3)

9

In [9]:
K

{2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [10]:
#Method - 3
K.popitem()

(7, 49)

In [11]:
K

{2: 4, 4: 16, 5: 25, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [7]:
A = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [12]:
sorted(A.values(), reverse = True)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [18]:
# CODE HERE
### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [19]:
dict1.update(dict2)

In [20]:
dict1.update(dict3)

In [21]:
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

In [12]:
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500},
     'emp2': {'name': 'Ravi', 'salary': 8000},
     'emp3': {'name': 'Charan','salary': 6500}}

In [13]:
sample_dict["emp3"]["salary"] = 8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

In [12]:
S = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [13]:
S

{'class': {'student': {'name': 'Mike',
   'marks': {'physics': 70, 'history': 80}}}}

In [14]:
S["class"]["student"]["marks"]["history"]

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [15]:
P = {'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}

In [17]:
P["Area"] = P.pop("Location")

In [18]:
P

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

In [4]:
# sample output

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [19]:
database = {'ram':'1234','raghu':'5678','kanav':'1357'}

In [2]:
database = {'ram':'1234','raghu':'5678','kanav':'1357'}
username = input("enter username : ")
password = input("enter password : ")
if database.get(username) == password:
    print("hello ",username)
else:
    L = input("you want me to add into the database : ")
    if L=='yes':
        A = input("enter username : ")
        B = input("enter password : ")
        database[A]=B
        print(database)

enter username : kush
enter password : 6305
you want me to add into the database : yes
enter username : kush
enter password : 6305
{'ram': '1234', 'raghu': '5678', 'kanav': '1357', 'kush': '6305'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)