# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [5]:
radius = float(input("enter radius:"))
pi = float(input("pi:"))

enter radius:5
pi:3.14159

In [6]:
def volumeSphere(a,b): 
    volume = 4/3 * pi *radius*radius*radius
    print(volume)

In [7]:
volumeSphere(radius,pi)

523.5983333333332

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [0]:
def ran_check(num,low,high):
    # code here

In [1]:
def ran_check(num,low,high):
    if low<=num<=high:
        print("yes")
    else:
        print("no")

In [2]:
ran_check(10,5,20)

yes

In [3]:
ran_check(50,10,100)

yes

In [4]:
ran_check(100,999,80)

no

If you only wanted to return a boolean:

In [1]:
def ran_bool(num,low,high):
    if low<=num<=high:
        return True
    else:
        return False

In [2]:
ran_bool(3,1,10)

True

In [0]:
def ran_bool(num,low,high):
    # code here

In [0]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [27]:
S = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [5]:
def up_low(x):
    uppercase = 0
    lowercase = 0
    for i in x:
        if i.isupper(): 
            uppercase = uppercase + 1
        elif i.islower():
            lowercase = lowercase + 1
    print("No. of Upper case characters :",uppercase)
    print("No. of Lower case Characters :",lowercase)

In [6]:
A = "Alphabets and Numbers"

In [46]:
up_low(S)

No. of Upper case characters : 4
No. of Lower case Characters : 33

In [7]:
up_low(A)

No. of Upper case characters : 2
No. of Lower case Characters : 17

In [47]:
up_low("My name is Kushmitha")

No. of Upper case characters : 2
No. of Lower case Characters : 15

In [0]:
def up_low(s):
    # code here

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [55]:
SampleList = [1,1,1,1,2,2,3,3,3,3,4,5]

In [56]:
def unique_list(l):
    print(list(set(l)))

In [57]:
unique_list(SampleList)

[1, 2, 3, 4, 5]

In [58]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [0]:
def unique_list(l):
    # code here

In [0]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [30]:
def multiply(numbers):  
    # code here
    mul = 1
    for i in numbers:
        mul = mul*i
    return mul

In [31]:
multiply([1,2,3,-4])

-24

In [26]:
multiply([2,5,8,4,7,3,5])

33600

In [27]:
multiply([7,8])

56

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [8]:
def palindrome(s):
    # code here
    if s[::1] == s[::-1]:
        return True
    else:
        return False

In [9]:
palindrome('helleh')

True

In [13]:
palindrome("nurses")

False

In [12]:
palindrome("madam")

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [2]:
# CODE HERE
def summation(n):
 #Code here


n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [40]:
def printList():
    l = []
    for i in range(1,21):
        l.append(i*i)
    return l

In [41]:
print(printList())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [46]:
def printDict():
    d = {}
    for i in range(1,21):
        d[i] = i*i
    print(d.keys())

In [47]:
printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [11]:
def char(C):
    x = C.split()
    for i in x :
        print(i ,":" ,len(i))

In [13]:
char("innomatics research labs")

innomatics : 10
research : 8
labs : 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [15]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = lambda x: (x**2)
list(map(l,li))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [19]:
A = list(filter(lambda x:x%2==0,range(1,11)))
l = lambda x: (x**2)
list(map(l,A))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [16]:
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [4]:
def f(n):
    if n < 2:
        return n
    return f(n-1) + f(n-2)

n = int(input("Enter n value: "))
print(f(n))

Enter n value: 7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)